.hidden {
  visibility: hidden;
}

.toast {
  margin: 8px;
}

.success {
  padding: 1em;
  background-color: lightblue;
  border: 2px solid darkblue;
  color: darkblue;
  font-size: medium;
}

.success {
  padding: 1em;
  background-color: lightgreen;
  border: 2px solid darkolivegreen;
  color: darkgreen;
  font-size: medium;
}

.error {
  padding: 1em;
  background-color: orange;
  border: 2px solid red;
  color: black;
  font-size: medium;
}

.blogListings {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.blogListing {
  background-color: sandybrown;
  padding: 0 4px;
  border: 1px lightcoral solid;
  margin: 4px 0;
}

.blogListing .blogInfo {
  background-color: cornsilk;
  padding: 4px;
}
